<div class="header">
  				<ul class="nav nav-pills pull-right">
    				<li><a ng-href="#/create" ng-show="signedIn()"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a></li>
    				<li><a ng-href="#/login" ng-show="!signedIn()"><span class="glyphicon glyphicon-log-in"></span> Login/Register</a></li>
						<li><a ng-href="#/login" ng-show="signedIn()"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
  				</ul>
  				<h3 class="text-muted"><a ng-href="/">Nfolio</a></h3>
				</div> 
<div class="col-md-12 element place-card general">
  <div class="panel panel-default">
    <div class="panel-heading">Profile: {{signedInAs().email}}</div>
    <div class="panel-body">
      <p>I'm working on a profile page with drag and drop avatars and all sorts. Loads of other bits and pieces planned here...</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
      <form class="form-horizontal" name="myForm" ng-submit="login()" novalidate>
         
        <!-- Email -->
        <div class="form-group" ng-class="{error: myForm.email.$invalid && !myForm.email.$pristine}"  ng-show="!signedIn()">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" ng-model="email" required>
              <span ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-inline">
                Please enter a valid email
              </span>
            </div>
        </div>    
        <!-- Password -->
        <div class="form-group" ng-class="{error: myForm.password.$invalid && !myForm.password.$pristine}" ng-show="!signedIn()">
          <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" ng-model="password" required>
              <span ng-show="myForm.password.$error.required && !myForm.password.$pristine" class="help-inline">
                Please provide a valid password
              </span>
              <span ng-show="loginError" class="help-inline">
                {{loginError}}
              </span>
            </div>
        </div>    
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">            
            <!-- <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary" class="btn btn-default">Save</button> -->
            <button type="submit" ng-show="!signedIn()" class="btn btn-primary" class="btn btn-default">Login</button>
            <button ng-click="logout()" ng-show="signedIn()" class="btn btn-danger">Logout</button>
<!--             <button ng-click="register()" ng-show="!signedIn()" class="btn btn-danger">Register</button> -->
          </div>
        </div>      
      </form>      
    </div>
  </div>                          
  <div class="panel panel-default"  ng-show="!signedIn()" >
    <div class="panel-heading">Register</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" novalidate>
        <!-- Full Name -->
        <div class="form-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}"  ng-show="!signedIn()">
          <label for="inputName" class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" ng-model="user.rname" required>
              <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
                Required {{myForm.name.$pristine}}
              </span>
            </div>
        </div>  
        <!-- Email -->
        <div class="form-group" ng-class="{error: myForm.email.$invalid && !myForm.email.$pristine}"  ng-show="!signedIn()">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" ng-model="user.remail" required>
              <span ng-show="myForm.email.$error.required && !myForm.email.$pristine" class="help-inline">
                Required {{myForm.email.$pristine}}
              </span>
            </div>
        </div>    
        <!-- Password -->
        <div class="form-group" ng-class="{error: myForm.password.$invalid && !myForm.password.$pristine}" ng-show="!signedIn()">
          <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" ng-model="user.rpassword" required>
              <span ng-show="myForm.password.$error.required && !myForm.password.$pristine" class="help-inline">
                Required {{myForm.password.$pristine}}
              </span>
            </div>
        </div>        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">            
            <!-- <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary" class="btn btn-default">Save</button> -->
<!--             <button ng-click="login()" ng-show="!signedIn()" class="btn btn-primary" class="btn btn-default">Login</button> -->
<!--             <button ng-click="logout()" ng-show="signedIn()" class="btn btn-danger">Logout</button> -->
            <button ng-click="register()" ng-show="!signedIn()" class="btn btn-danger">Register</button>
          </div>
        </div>      
      </form>      
    </div>
  </div>                          
</div>
<footernav />