<headernav />
<!-- <jumbotron jt-heading="1 - Welcome" jt-intro="Always a pleasure helping you discover whats new in town" jt-button="Explore!" /> -->
<!-- <jumbotron jt-heading="2 - Register" jt-intro="Follow your favourite things around the town for more useful information and train this site to help you better" jt-button="Register!" /> -->
<div class="row toolbars">
  <searchbar />
  <statusbar />
</div>
<!-- <createplace /> -->
<placelist>
	<feedlist>
		<statuspost place="place" />
	</feedlist>
</placelist>
<footernav />