<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/create">Create</a></li>
  </ul>
  <h3 class="text-muted">Farnborough Guide</h3>
</div>
<!-- <jumbotron jt-heading="1 - Welcome" jt-intro="Always a pleasure helping you discover whats new in town" jt-button="Explore!" /> -->
<!-- <jumbotron jt-heading="2 - Register" jt-intro="Follow your favourite things around the town for more useful information and train this site to help you better" jt-button="Register!" /> -->
<div class="row toolbars">
  <!-- TODO: New Card -->
  <!-- TODO: Login/logout/register -->
  <!-- TODO: Remove the modal dialog, not needed at all -->  
  <searchbar />
  <!-- <statusbar />     -->
</div>
<div class="row main">
  <div class="animate-repeat col-md-12 card" ng-repeat="place in places | orderByPriority | filter:search | orderBy:'updated':reverse=true">
    <strong><a data-ng-href="#/show/{{place.$id}}">{{place.name}}</a></strong> <i>Updated {{timeAgo(place.updated)}}</i>
      <p class="card-content" ng-show="isAuthorised" editable-textarea="place.description" e-cols="17" e-rows="6" e-style="width: 100%; font-size: 14px;" onaftersave="save()">
        {{place.description || "empty"}}         
      </p>
      <p class="card-content" ng-show="!isAuthorised">
        {{place.description || "empty"}}         
      </p>
      <ul class="feed-list" ng-show="place.feed.length > 0">
        <li class="item" ng-repeat="item in place.feed" ng-if="item != null"><i class="glyphicon glyphicon-user"></i> {{item}}</li>
      </ul>      
  </div>
</div>
<div class="footer">
  <p>♥ from the FG team</p>
</div>