<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>    
  </ul>
  <h3 class="text-muted">Farnborough Guide</h3>
</div>
<!-- <div jumbotron jt-heading="Welcome to FG" jt-intro="Always a pleasure helping you discover whats new in town" jt-button="Splendid!"></div> -->
<div class="row toolbars">
  <!-- <div class="col-md-12 place-card element general">
    <div class="status-bar">        
      <span ng-show="isAuthorised">
        <a href="#/new">
          <button type="button" class="btn btn-default">          
            <span class="glyphicon glyphicon-plus"></span>NEW CARD
          </button>        
        </a>
        <button ng-click="logOut()" type="button" class="btn btn-default">          
          <span class="glyphicon glyphicon-plus"></span>LOGOUT
        </button>  
      </span>          
      <span ng-show="!isAuthorised" class="form-inline">
        <input type="text" class="form-control" placeholder="email">
        <input type="password" class="form-control" placeholder="password">
        <button ng-click="logIn()" type="button" class="btn btn-default">          
          <span class="glyphicon glyphicon-plus"></span>LOGIN/REGISTER
        </button>          
      </span>    
      <button ng-click='toggleModal()' type="button" class="btn btn-default">Open Modal Dialog</button>           
      <span>{{authmessage}}</span>      
    </div>          
  </div> -->
  <div searchbar></div>
  <div statusbar></div>    
</div>
<div class="row main">

  <!-- The isotope grid that I've given up on for now!!
  <!-- <div class="col-md-12 place-card element general">
    <div class="isotope" isotope-container  iso-use-init-event="true" iso-method-subscribe="my-iso-method" ng-cloak>
      <div class="repeat-item col-md-3 col-sm-6 element place-card general" ng-repeat="place in places | orderByPriority | filter:search | orderBy:'updated':reverse=true" isotope-item>
        <div class="hover_img {{place.class}}">
          <h2><a data-ng-href="#/show/{{place.$id}}">{{place.name}}</a></h2>
        </div>
        <div class="item_description">
          <img src="http://placehold.it/150x150" ng-if="place.pic != null" />
          <p class="content" ng-show="isAuthorised" editable-textarea="place.description" e-cols="17" e-rows="6" e-style="width: 100%; font-size: 14px;" onaftersave="save()">
            {{place.description || "empty"}}         
          </p>
          <p class="content" ng-show="!isAuthorised">
            {{place.description || "empty"}}         
          </p>
          <p class="meta">
            Updated {{timeAgo(place.updated)}}
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- end of isotope grid -->

  <div class="animate-repeat col-md-12 card" ng-repeat="place in places | orderByPriority | filter:search | orderBy:'updated':reverse=true">
    <!-- <div class="card-heading row">
      <h2><a data-ng-href="#/show/{{place.$id}}">{{place.name}}</a></h2>
    </div> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-md-3"> -->
        <!-- <img src="http://placehold.it/150x150" ng-if="place.pic != null" /> -->
        <!-- <img src="http://placehold.it/150x150" /> -->
      <!-- </div> -->
      <!-- <div class="col-md-9"> -->
        <strong><a data-ng-href="#/show/{{place.$id}}">{{place.name}}</a></strong> <i>Updated {{timeAgo(place.updated)}}</i>
        <p class="card-content" ng-show="isAuthorised" editable-textarea="place.description" e-cols="17" e-rows="6" e-style="width: 100%; font-size: 14px;" onaftersave="save()">
        {{place.description || "empty"}}         
      </p>
      <p class="card-content" ng-show="!isAuthorised">
        {{place.description || "empty"}}         
      </p>
      <ul>
        <li ng-repeat="item in place.feed" ng-if="item != null">{{item}}</li>
      </ul>
      <!-- <p class="card-meta">
        <i>Updated {{timeAgo(place.updated)}}</i>
      </p> -->
      <!-- </div> -->
      
      
    <!-- </div> -->
  </div>

</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
