<div class="container photos-page">
  <div class="photo row card" ng-repeat="photo in photos | orderByPriority | orderBy:'updated':reverse=true">
    <!--<div class="col-xs-1">
      <div class="vote up"><span ng-hide="downVoted(photo)" ng-click="upVotephoto(photoId, upVoted(photo))">&#x25B2;</span></div>
      <div class="vote down"><span ng-hide="upVoted(photo)" ng-click="downVotephoto(photoId, downVoted(photo))">&#x25BC;</span></div>
    </div> -->
    <div class="col-md-9 col-xs-11">
      <p ng-show="{{ photo.fileMedium != undefined }}">
        <!--<img crossorigin="anonymous" src="https://s3-eu-west-1.amazonaws.com/nfolio/{{photo.fileMedium}}" image-resize image-percent="75" />-->
        <img src="http://placehold.it/700x100" />
      </p>
      <p ng-show="{{ photo.fileMedium == undefined }}" class="alert alert-info">
        Your image files are currently being generated, they will appear here shortly...
      </p>
      <div class="info">
        <a ng-href="#/photos/{{ photo.$id }}">
          {{ photo.title }}
          <!-- <span class="url">({{ photo.url | hostnameFromUrl }})</span> -->
        </a>
      </div>
      <div>
        <!-- <span>{{ photo.score || 0 }} votes</span> -->
        <!-- &mdash; -->
        <span>submitted by <a href="#/users/{{ photo.owner }}">{{ photo.owner }} {{timeAgo(photo.updated)}}</a></span>
        &mdash;
        <a href="#/photos/{{ photo.$id }}">{{photo.commentcount}} comments</a>
        <a ng-show="signedIn() && photo.owner === user.username" ng-click="deletePhoto(photoId)">delete</a>
        <!--<a ng-click="deletePhoto(photo.$id)">delete</a>-->
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
