<div class="row">

  <div class="col-sm-2" id="photostream">

      <div ng-repeat="photo in photos | orderBy:'updated':reverse=true">
        <a ng-click="showChosenPhoto(photo.$id)">
          <!-- <img class="xs-hidden" width="100%" src="http://res.cloudinary.com/dqpknoetx/image/upload/b_rgb:000,c_lpad,g_center,h_150,w_120/{{photo.file}}" /> -->
          <img class="xs-hidden" src="http://res.cloudinary.com/dqpknoetx/image/upload/bo_5px_solid_rgb:000,c_scale,w_210/{{photo.file}}" />
          <a ng-click="showChosenPhoto(photo.$id)">
            <h6>{{ photo.title }}</h6>
          </a>
        </a>
      </div>


  </div>

  <div class="col-md-10" id="loupe">
    <div class="row bigcard">
          <div ng-show="{{ sphoto.file != undefined }}">
            <a ng-href="#/photos/{{ sphoto.$id }}">
              <img class="xs-hidden" width="100%" src="http://res.cloudinary.com/dqpknoetx/image/upload/b_rgb:eee,c_lpad,g_center,h_550,w_820/{{sphoto.file}}" />
            </a>
      </div>
      <div class="col-md-12">
        <div class="innercard">
          <img width="100%" height="100%" src="http://res.cloudinary.com/dqpknoetx/image/upload/c_scale,w_1080/{{sphoto.file}}" />
          <a ng-href="#/photos/{{ sphoto.$id }}">
            <h3>{{ sphoto.title }}</h3>
          </a>
          <p class="desc">{{ sphoto.description }}</p>
          <p>

            <!--<img src="http://placehold.it/700x100" />-->
          </p>
          <ul class="feed-list list-group">
            <li class="feed-item-post list-group-item animate" ng-repeat="(commentId, comment) in sphoto.comments">
              <span class="badge">{{comment.username}}</span><span class="badge">{{timeAgo(comment.updated)}}</span>
              <i class="glyphicon glyphicon-user"></i> {{comment.text}}
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
   </div>
</div>
