<div class="container photos-page">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p ng-show="{{photo.file != undefined}}">
                <img width="100%" src="http://res.cloudinary.com/dqpknoetx/image/upload/c_scale,w_1080/{{photo.file}}" />
                <!--<img src="http://placehold.it/700x100" />-->
            </p>
            <div class="info">
                <h3>{{ photo.title }}</h3>
                <p class="desc">{{ photo.description }}</p>
                <p class="metadata">This image was captured with a <strong>{{ photo.metadata.Model }}</strong> an aperture of {{ photo.metadata.ApertureValue }}, shutter speed of {{ photo.metadata.ShutterSpeedValue }} and at an ISO of {{ photo.metadata.ISO }}. The focal length you used was {{ photo.metadata.FocalLength }}</p>
            </div>
            <div>
                <span class="metadata">submitted by <a href="#/users/{{ photo.owner }}">{{ photo.owner }}</a></span>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div ng-repeat="(commentId, comment) in photo.comments" class="row cmt card">
        <div class="col-md-12">
            <p>{{ comment.text }}</p>
            <p class="author">posted by <a href="#/users/{{ comment.username }}">{{ comment.username }}</a> {{timeAgo(comment.updated)}} <a ng-click="removeComment(comment, commentId)" ng-show="signedIn() && comment.username === currentUser.username">(delete)</a></p>
        </div>
    </div>
    <div class="alert alert-info">
        Comments can be made if you are registered and logged in. Please be sensible, no rubbish comments please ;-) Now one of the cool features of this site is it's
        real-time nature, comments made here, will appear immediately on other user's screens, which makes it possible to have conversations about images. I am working
        on making the user-experience as good as possible, as there are some challenges involved in making this work smoothly...
    </div>
    <div class="row cmt-form card">
        <div class="col-md-12">
            <div ng-hide="signedIn()">
                <p><a href="#/login">Sign in</a> to post a comment</p>
            </div>
            <form ng-show="signedIn()">
                <textarea ng-model="comment.text" placeholder="Send us your comments" class="form-control"></textarea><br />
                <input type="submit" ng-click="addComment()" value="Comment" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
